<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><strong>SHELTER</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">HOME</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            GET INVOLVED
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://www.thedodo.com/submit?utm_source=Social&utm_medium=IG%2C+FB+Stories&utm_campaign=2023+Submissions&fbclid=PAAaYeWsnDwVZfdLGWchythxvO38LVrRhbSXZ_kjRuss3HbtQhKvX5E0iIHkk">
              Submit an animal story</a></li>
            <li><a class="dropdown-item" href="https://www.cleartheshelters.com/?fbclid=PAAaZ0iJzKKN1nj1q4Kb9apzkHMD7Ie6qtIwZzi5jv26-MCWIVwl88kwm9qis">
              Help us clear the shelters!</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">FUNDRAISERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">CONTACT US</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
</body>
</html>